button {
  border: none;
  outline: none;
}

.login-btn,
.logout-btn {
  display: none;
}

.btn {
  background-color: #0074d9;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  &:hover,
  &:focus {
    background-color: #7fdbff;
    color: #ffffff;
  }
}

.btn-default {
  height: 40px;
  min-height: 19px;
  width: 142px;
}

.btn-small {
  height: 27px;
  min-height: 19px;
  width: 71px;
}
