body {
  background-color: #ffffff;
}

.images-container {
  @include clearfix;
}

main.container {
  display: none;
}

ul.images-container {
  margin: 0;
  padding: 0;
  li {
    position: relative;
    margin-top: 10px;
    span.fa-pencil {
      position: absolute;
      top: 5px;
      left: 5px;
      padding: 8px;
      background-color: #000000;
      background-color: rgba(0, 0, 0, 0.2);
      color: #ffffff;
    }
    span.fa-trash {
      position: absolute;
      top: 5px;
      left: 35px;
      padding: 8px;
      background-color: #000000;
      background-color: rgba(0, 0, 0, 0.2);
      color: #ffffff;
    }
  }
}
